ODDS_API_KEY=840e3210c9689c4ca82dc86dd49b6c87
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1493695168174620792/GKAWaeVrXAIhTHXnPzO00kk51v9nkfcO-_lSkrJevOWuSVlCAKF6hFhlnz8h04CLbPkB
MIN_ARB_PCT=0.005
POLL_INTERVAL_MIN=30
BANKROLL=100
